*{
    box-sizing: border-box;
    margin: 0;
}

.title_author, main , footer{
    margin: 5px;
}

.banner{
    background-color: lightskyblue;
    background-image: url(/img/pattern.png);
    background-size: contain;
}

.logo{
    width: 80px;
    margin-top: 80px;

}

h1{
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 0;
}

.author{
    color: blue;
}

.date{
    font-size: 12px;
}

p{
    margin-top: 15px;
}

.important{
    background-color: yellow;
}

ul{
    margin-top: 10px;
    padding: 15px;
}

.main_container{
    background-color: rgba(18, 182, 247, 0.884);
    width: 100%;
}

.first_title{
    width: 20%;
    display: inline-block;
    font-weight: bold;
    color: white;
}

.title{
    width: 20%;
    display: inline-block;
    position: relative;
    bottom: 20px;
}

.container_withe{
    width: 100%;
    height: 60px;
}

.container{
    background-color: lightblue;
    width: 100%;
    height: 60px;
}


.object{
    width: 45%;
    display: inline-block;
    height: 60px;
}

h4{
    color: rgba(0, 0, 0, 0.418);
}

.interesse{
    background-image: url(/img/monitor.jpg);
    width: 300px;
    height: 200px;
    background-image: cover;
    background-repeat: no-repeat;

}

.interesse2{
    background-image: url(/img/graph.jpg);
    width: 300px;
    height: 200px;
    background-image: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.testo_interno{
    font-size: 25px;
    color: white;
    font-weight: bold;
    position: relative;
    top: 10px;
    left: 10px;
}