*{
    box-sizing: border-box;
    margin: 0;
}

.title_author, main , footer{
    margin: 5px;
}

.banner{
    background-color: lightskyblue;
    background-image: url(/img/pattern.png);
    background-size: contain;
}

.logo{
    width: 80px;
    margin-top: 80px;
}


h1{
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 0;
}

.author{
    color: blue;
}

.date{
    font-size: 12px;
}

p{
    margin-top: 15px;
}

.important{
    background-color: yellow;
}

ul{
    margin-top: 10px;
    padding: 15px;
}

table{
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

thead>tr{
    background-color: rgba(0, 68, 255, 0.671);
}

.light{
    background-color: lightblue;
}

.title{
    width: 20%;
    text-align: left;
    color: white;
}

.last_title{
    text-align: left;
    color: white;
}

h4{
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.418);
}

.interesse{
    margin-top: 10px;
    background-image: url(/img/monitor.jpg);
    width: 300px;
    height: 200px;
    background-image: cover;
    background-repeat: no-repeat;

}

.interesse2{
    background-image: url(/img/graph.jpg);
    width: 300px;
    height: 200px;
    background-image: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.testo_interno{
    font-size: 25px;
    color: white;
    font-weight: bold;
    position: relative;
    top: 10px;
    left: 10px;
}